:root{
    --white-color:#fff;
    --black-color: #000;
    --text-color:#333;
    --primary-color: #EE4D2D;
    --boder-color: #dbdbdb;
    --star-gold-color: #FFCE3E;
    --navbar-height: 34px;
    --header-height: 120px;
    --header-sort-bar-height: 46px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}
*{
    box-sizing: inherit;
}

html{
    /* HACK */
    font-size: 62.5%;
    line-height: 1.6rem; /*- 16px -*/
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/* Responsive */
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    margin-left: -5px;
    margin-right: -5px;
    display: flex;
    flex-wrap: wrap;
}

.grid__col-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__col-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid__col-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}
/* ================================================================ */

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes notifyFadeIn {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
/* Growth */
@keyframes growth {
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}
/* =============================================================== */

/* button */
.btn{
    min-width: 140px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    background-color: var(--white-color);
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn .btn--size-s{
    height: 30px;
    font-size: 12px;
    padding: 0 8px;
}

.btn.btn-normal:hover{
    background-color: rgba(0, 0, 0, 0.08);
}

.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disable{
    background-color: #999;
    cursor: default;
    filter: brightness(80%);
}

/* selection */
.select-input {
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow:  0 0 2px #ccc;
    z-index: 1;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon{
    font-size: 1.4;
    color: rgb(131,131, 131);
}

.select-input:hover .select-input__list{
    display: block;
}

.select-input__list{
    position: absolute;
    left: 0;
    right: 0;
    top: 72%;
    border-top: 1px solid rgb(228, 223, 223);
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 16px;
    list-style: none;
    display: none;
    box-shadow:  0 0 2px #ccc;
}

.select-input__link{
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 4px 0;
}

.select-input__link:hover{
    color: var(--primary-color);
}