/* Mobile + Tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet{
        display: none;
    }

    #header{
        padding-top: 6px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
    }

    .header__cart {
        width: 60px;
        text-align: right;
    }

    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        width: 100%;
        right: 0;
        padding: 0 calc((100% - 664px) / 2);
    }

    .header__cart-list ::after {
        display: none;
    }

    #app__container {
        margin: calc( var(--header-height) + var(--header-sort-bar-height) ) 4px;
        padding-top: 8px;
        
    }

    .header__sort-bar{
        display: flex;
    }

   .mobile__category {
       display: block;
   }
   .app__content{
    padding-top: 0;
}
}

/* Tablet */
@media (min-width:740px) and (max-width:1023px) {
    :root{
        --header-height: 68px;
        --navbar-height: 0px;
        }
    .hide-on-tablet{
        display: none;
    }
    #header{
        padding-top: 6px;
    }
    .header__cart {
        width: 60px;
        text-align: right;
    }
}

/* Mobile */
@media (max-width:739px) {
    :root{
        --header-height: 54px;
        --navbar-height: 0px;
        }

    .hide-on-mobile{
        display: none;
    }

    .header-with-search {
        justify-content: space-between;
    }
    
    .header__logo {
        width: unset;
    }

    .header__logo-link {
        display: block;
        line-height: 0;
    }

    .header__cart {
        width: unset;
    }

    .header__mobile-search {
        display: block;
        padding: 0 12px;
    }

    .header__search {
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        height: 46px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        z-index: 1;
        padding: 0 16px;
        display: none;
        animation: mobileSearch linear 0.3s;
    }

    .header__search-checkbox:checked ~ .header__search {
        display: flex;
    }

    .header__search-history {
        position: fixed;
        width: 100%;
        top: calc( var(--header-height) + var(--header-sort-bar-height) );
        left: 0;
        box-shadow: none;
    }

    .pagination-item {
        margin: 0;
    }

    .pagination-item__link {
        --height: 28px;
        font-size: 1.6rem;
        min-width: 36px;
       
    }

    .header__logo-img{
        width: 110px;
    }
    .footer__content {
        padding: 0 16px;
    }

    .footer__heading {
        text-align: center;
    }

    .footer__download, 
    .footer-item__link {
        justify-content: center;
    }

    .footer__download-apps{
        flex: unset;
    }

}
@keyframes mobileSearch {
    from {
        opacity: 0;
        top: calc( var(--header-height) / 2) ;
    }
    to {
        opacity: 1;
        top: var(--header-height);
    }
}